<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
			name="projection"
			type="Shuttle.Recall.Sql.EventProcessing.ProjectionSection, Shuttle.Recall.Sql.EventProcessing" />
  </configSections>

  <projection 
    eventStoreConnectionStringName="Shuttle"
    eventProjectionConnectionStringName="ShuttleProjection" />

  <connectionStrings>
    <add name ="Shuttle"
         connectionString="data source=.\sqlexpress;initial catalog=Shuttle;integrated security=SSPI;"
         providerName="System.Data.SqlClient"/>
    <add name ="ShuttleProjection"
         connectionString="data source=.\sqlexpress;initial catalog=ShuttleProjection;integrated security=SSPI;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
