<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net452" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net452" />
  <package id="Shuttle.Core.Castle" version="1.0.1" targetFramework="net452" />
  <package id="Shuttle.Core.Data" version="4.2.6" targetFramework="net452" />
  <package id="Shuttle.Core.Infrastructure" version="4.2.54" targetFramework="net452" />
  <package id="Shuttle.Recall" version="4.0.42" targetFramework="net452" />
  <package id="Shuttle.Recall.Sql" version="4.0.2" targetFramework="net452" />
</packages>