<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.0" targetFramework="net46" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net46" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net46" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Shuttle.Core.Castle" version="10.0.4" targetFramework="net46" />
  <package id="Shuttle.Core.Compression" version="10.0.0" targetFramework="net46" />
  <package id="Shuttle.Core.Configuration" version="10.0.0" targetFramework="net46" />
  <package id="Shuttle.Core.Container" version="10.0.5" targetFramework="net46" />
  <package id="Shuttle.Core.Contract" version="10.0.0" targetFramework="net46" />
  <package id="Shuttle.Core.Data" version="10.0.2" targetFramework="net46" />
  <package id="Shuttle.Core.Data.Registration" version="10.0.0" targetFramework="net46" />
  <package id="Shuttle.Core.Encryption" version="10.0.0" targetFramework="net46" />
  <package id="Shuttle.Core.Logging" version="10.0.1" targetFramework="net46" />
  <package id="Shuttle.Core.Pipelines" version="10.0.2" targetFramework="net46" />
  <package id="Shuttle.Core.PipelineTransaction" version="10.0.2" targetFramework="net46" />
  <package id="Shuttle.Core.Reflection" version="10.0.6" targetFramework="net46" />
  <package id="Shuttle.Core.Serialization" version="10.0.0" targetFramework="net46" />
  <package id="Shuttle.Core.Streams" version="10.0.0" targetFramework="net46" />
  <package id="Shuttle.Core.Threading" version="10.0.0" targetFramework="net46" />
  <package id="Shuttle.Core.TimeSpanTypeConverters" version="10.0.0" targetFramework="net46" />
  <package id="Shuttle.Core.Transactions" version="10.0.0" targetFramework="net46" />
  <package id="Shuttle.Recall" version="10.0.0" targetFramework="net46" />
  <package id="Shuttle.Recall.Sql.EventProcessing" version="10.0.0" targetFramework="net46" />
  <package id="Shuttle.Recall.Sql.Storage" version="10.0.0" targetFramework="net46" />
</packages>
